<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hj.chain.platform.contract.mapper.CusContractBaseInfoMapper">

    <select id="findPageByCondition" resultType="org.hj.chain.platform.vo.contract.CusContBaseInfoListVo">
        SELECT
        id,
        company_name companyName,
        address,
        post_code postCode,
        jur_person jurPerson,
        agent_person agentPerson,
        tel_fax telFax,
        bank_no bankNo,
        bank_name bankName,
        tax_number taxNumber,
        del_status delStatus,
        create_user_id createUserId,
        create_time createTime
        FROM
        t_cus_contract_base_info
        <where>
            <if test="1==1">
                and del_status = '0'
            </if>
            <if test="organId!=null">
                and organ_id = #{organId,jdbcType=VARCHAR}
            </if>
            <if test="companyName!=null">
                and company_name like concat('%',#{companyName,jdbcType=VARCHAR},'%')
            </if>
            <if test="userId!=null">
                and create_user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="deptIds!=null">
                and dept_id in
                <foreach item="item" index="index" collection="deptIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
        </where>
        order by id desc
    </select>

    <select id="newCusCountForCurrMonth" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            count(*) cusSum
        FROM
            t_cus_contract_base_info
        WHERE
            organ_id = #{organId}
          AND DATE_FORMAT( create_time, '%Y%m' ) = DATE_FORMAT(
                CURDATE(),
                '%Y%m'
            )
    </select>

    <select id="newCusCountForCurrYear" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            count(*) cusSum
        FROM
            t_cus_contract_base_info
        WHERE
                organ_id = #{organId}
                AND YEAR ( create_time ) = YEAR (
            NOW()
            )
    </select>
</mapper>
